<article class="post-main">
 <div class="title">
  <a href="posts/{{id}}" target="_blank">{{title}}</a> <span>~{{user.username}} on {{format_date created_at}}</span>
  </div>
  <div class="content">
    
<span>{{post_content}}</span>



</div>

</article>

